@use "../../global.scss" as *;

.OrganizationList {
    color: $white;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;

    h1 {
        margin-top: 100px;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }

    &__items {
        align-self: center;
        justify-self: center;
        margin-top: 10px;
        width: 500px;
        height: 40px;
        background-color: rgba($white, 0.2);
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        a {
            text-decoration: none;
            color: $white;
            display: inline-block;
            width: 100%;
            height: 40px;
            align-self: center;
            padding-top: 10px;
        }
    }

    &__create {
        margin-top: 50px;
        align-self: center;
        justify-self: center;
        width: 500px;
        height: 175px;
        background-color: rgba($white, 0.35);
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        border-radius: 10px;

        label,
        input {
            display: block;
            width: 90%;
            align-self: center;
        }

        input {
            background-color: rgba($dark, 0.5);
            border: none;
            outline: none;
            border-radius: 5px;
            height: 30px;
            padding-left: 10px;
            color: $white;
        }

        button {
            width: 90%;
            align-self: center;
            background-color: $blue;
            color: $white;
            border: none;
            border-radius: 5px;
            height: 40px;
            cursor: pointer;
        }
    }
}
