@use "../../global.scss" as *;

.ErrorPage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $dark;
    h1{
        color: $white;
    }
    h3{
        color: $white;
    }
    a{
        color: $white;
    }
}